
<div class="container-fluid">
  <div class="h-10 bg-white">
    <div class="col-xs-12">
      <div class="flex-form">
        <div class="signup-form">
          <div class="flex-column p-1 s">
            CRÉATION DE COMPTE
          </div>


          <div class="">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="signup-form">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="blueb">
              <%= f.button :submit, "Sign up", class: "d-block mx-auto txtbtn" %>
            </div>

            <% end %>
            <%= render "devise/shared/links"%>
          </div>
      </div>

        <div class="image-form">
          <div class="">
           <%= image_tag "https://res.cloudinary.com/danxfwhmp/image/upload/v1580821967/travel-explore-moutain_kuon4u.jpg", alt: "Le Wagon", width: 500, class: "d-block mx-auto" %>
          </div>
        </div>
    </div>
  </div>
</div>
