<div class="navbar navbar-expand-sm navbar-light navbar-edwards">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo-edwards.png", class: "navbar-logo" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>




  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Campagne en cours", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Nouvelle campagne", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i><p class="dropdown-item">Log out</p>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Solutions", "#", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Influencers", "#", class: "nav-link" %>
        </li>
        <li>
        <li class="nav-item active">
          <%= link_to "Connexion", new_user_session_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
