<div class="header_border-gradient"></div>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "head_logo" do %>
    <%= image_tag "logo-edwards.png" %>
      <% end %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
       <div class="button">
      <li class="nav-item active box-e">
        <%= link_to new_campaign_path, class: "nav-link navbar-brand icons navbar-color1 custom-underline1" do %>
        <i class="fas fa-plus-circle fa-2x fa-fw icon-default"></i>
        <i class="fas fa-folder-open fa-2x fa-fw icon-hover"></i>
       <span>Nouvelle Campagne</span>
       </div>
        <% end %>
      </li>

      <div class="button2">
      <li class="nav-item active box-e">
        <%= link_to "#", class: "nav-link navbar-brand icons2 navbar-color2 custom-underline2" do %>
        <i class="fas fa-chart-line fa-2x fa-fw icon-default2"></i>
       <i class="fas fa-heart fa-spin fa-2x fa-fw icon-hover2"></i>
       <span>Campagne en cours</span>
        </div>
        <% end %>
      </li>

      <div class="button3">
      <li class="nav-item active box-e">
        <%= link_to "#", class: "nav-link navbar-brand icons3 navbar-color3 custom-underline3" do %>
        <i class="fas fa-trophy fa-2x fa-fw icon-default3"></i>
       <i class="fas fa-chart-pie fa-2x fa-fw icon-hover3"></i>
       <span>Bilan des Campagnes</span>
        </div>
        <% end %>
      </li>

<!--      <div class="button4">
      <li class="nav-item active box-e">
        <%= link_to "#", class: "nav-link navbar-brand icons4 navbar-color4 custom-underline4" do %>
        <i class="fas fa-desktop fa-2x fa-fw icon-default4"></i>
       <i class="fas fa-chart-line fa-2x fa-fw icon-hover4"></i>
       <span>Dashboard</span>
        </div>
        <% end %>
      </li> -->


        <li class="nav-item dropdown">
          <%= image_tag "logo-decathlon.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i><p class="dropdown-item">Log out</p>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="nav-item active box-e">
          <%= link_to "Nous connaître", "#", class: "nav-link navbar-brand2 navbar-color5 custom-underline5 text-nav" %>
          <!-- <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
          sagittis lacus vel augue laoreet rutrum faucibus.">
          </button> -->
        </li>
        <li class="nav-item active box-e">
          <%= link_to "Nos Influenceurs", "#", class: "nav-link navbar-brand2 navbar-color6 custom-underline6 text-nav" %>
        </li>

  <div class="button5">
      <li class="nav-item active box-e">
        <%= link_to "#", class: "nav-link navbar-brand icons5 navbar-color5 custom-underline5" do %>
       <i class="far fa-question-circle fa-2x fa-fw icon-default5"></i>
       <i class="fas fa-info-circle fa-2x fa-fw icon-hover5"></i>
        </div>
        <% end %>
      </li>



              <li class="nav-item active">
          <%= link_to "Inscription", new_user_registration_path, class: "btn btn-white" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Connexion", new_user_session_path, class: "btn btn-ghost-nav" %>

        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- <div class="header_border-blue"></div> -->
