<div class="card" id="influencer-<%= influencer.id %>">
  <h3 class="title"><%= influencer.name %></h3>
    <div>
      <% if influencer.photo.attached?  %>
        <%= cl_image_tag influencer.photo.key, class:"photocard" %>
      <% else %>
        <!-- placeholder -->
      <% end %>

  <div class="bar">
    <h4 class="title">Communauté</h4>
    <div class="emptybar"></div>
    <div class="filledbar"></div>
 </div>
  <div class="bar2">
    <h4 class="title">Localisation</h4>
    <div class="emptybar"></div>
    <div class="filledbar2"></div>
 </div>
      <div class="bar3">
    <h4 class="title">Age</h4>
    <div class="emptybar"></div>
    <div class="filledbar3"></div>
 </div>
      <div class="bar4">
    <h4 class="title">Engagement Rate</h4>
    <div class="emptybar"></div>
    <div class="filledbar4"></div>
 </div>



  </div>

  <div class="circle">
    <circle class="stroke" cx="60" cy="60" r="50"/>
    <!-- </svg> -->
  </div>
</div>

<%= simple_form_for :search, url: root_path, method: "GET" do |f| %>
  <%= f.input :location, label: "Category",  collection: $categories, as: :check_boxes %>
  <%= f.input :age, label: "Flavor", collection: $flavors, as: :check_boxes %>
  <%= f.submit "Search", class: "btn-ghostinverse2" %>
  <%= link_to "Reset", root_path, class: "btn-ghostinverse" %>
<% end %>


