<div class="d-flex flex-row flex-wrap">
  <% influencers.each do |influencer| %>
    <div class="padd">
      <div class="card influencer-to-add"  style="cursor: pointer" id="influencer-<%= influencer.id %>">
        <div class="d-flex" style="width: 300px;">

          <div class="image">
            <% if influencer.photo.attached? %>
            <%= cl_image_tag influencer.photo.key, class:"image" %>
            <% end %>

            <div class="name"><%= influencer.name %></div>
            <br>
            <div class="job"><%= influencer.influencer_type %></div>
<br>
            <div class="bar">
              <div class="emptybar"></div>
              <div class="filledbar"></div>
            </div>

<!--             <div class="engagement_rate"><%= influencer.engagement_rate %></div> -->

          </div>

          <div class="d-flex">

            <div class="stats">

              <div class="box" style="border-bottom: 1px solid white">
                <span class="value"><%= influencer.posts %></span>
                <span class="parameter">Posts</span>
              </div>

              <div class="box" style="border-bottom: 1px solid white">
                <span class="value"><%= influencer.likes %></span>
                <span class="parameter">Moyenne de Likes</span>
              </div>

              <div class="box">
                <span class="value"><%= influencer.followers %></span>
                <span class="parameter">Followers</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
