<br>
<br>
<%= simple_form_for :query, url: edit_campaign_path(@campaign), method: :get do |f| %>
 <%= f.input :ages, label: "Ages", collection: $ages,
 as: :check_boxes %>
 <%= f.input :medias, label: "Medias", collection: $medias,
 as: :check_boxes %>
 <%= f.input :sizes, label: "Taille de Communauté", collection: $sizes,
 as: :check_boxes %>
  <%= f.input :sizes, label: "Localisation", collection: $locations,
  as: :check_boxes %>
  <%= f.submit "Filter", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <%= simple_form_for(@campaign) do |f| %>
    <%= simple_fields_for :selection do |x| %>
      <% @influencers.each do |influencer| %>
        <div class="card-campaigns">
        <%= render 'influencer_card', influencer: influencer %>
        <%= x.input influencer.name.to_sym, as: :boolean, input_html: {id: "checkbox-#{influencer.id}" } %>
        </div>
      <% end %>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>
