<br>

<%= form_tag edit_campaign_path, method: :get do %>
  <%= text_field_tag :community_location,
  params[:community_location],
  class: "form-control",
  placeholder: "Find a city"
  %>
  <%= select_tag :media, options_for_select(Influencer.pluck(:media).uniq, '') %>
  <%= submit_tag 'Validate' %>

  <%= select_tag :media, options_for_select(Influencer.pluck(:media).uniq, '') %>
  <%= submit_tag 'Validate' %>

  <%= select_tag :media, options_for_select(Influencer.pluck(:media).uniq, '') %>
  <%= submit_tag 'Validate' %>

  <%= select_tag :media, options_for_select(Influencer.pluck(:media).uniq, '') %>
  <%= submit_tag 'Validate' %>

  <%= select_tag :media, options_for_select(Influencer.pluck(:media).uniq, '') %>
  <%= submit_tag 'Validate' %>
<% end %>

<div class="container">
  <% @influencers.each do |i| %>
    <div class="card">
      <h3 class="title"><%= i.name %></h3>
      <div class="bar">
        <h4 class="title"> Communauté</h4>
        <h4 class="title"> Communazuté</h4>
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <circle class="stroke" cx="60" cy="60" r="50"/>
        </svg>
      </div>
    </div>
  <% end %>
</div>
