<br>
<h2> Étape 2 : Sélectionner les influenceurs </h2>
<div class="container">
    <%= simple_form_for :query, url: edit_campaign_path(@campaign), method: :get, remote: true do |f| %>
    <div class="d-flex flex-row align-items-start justify-content-around">
       <%= f.input :ages, label: "Ages", collection: $ages, as: :check_boxes %>
       <%= f.input :medias, label: "Medias", collection: $medias, as: :check_boxes %>
       <%= f.input :sizes, label: "Taille de Communauté", collection: $sizes, as: :check_boxes %>
        <%= f.input :sizes, label: "Localisation", collection: $locations, as: :check_boxes %>
        <%= f.submit "Filter", class: "btn btn-primary" %>
        <% end %>
    </div>

    <div class="d-flex flex-row flex-wrap align-items-middle mt-4" id="influencers">
      <%= render 'influencer', influencers: @influencers, as: :check_boxes %>
    </div>
</div>


<script>
   var checkBoxes = document.querySelectorAll(".form-check-input");
    var form = document.querySelector('form');
    for (const check of checkBoxes) {
    check.addEventListener( 'change', function() {
      Rails.fire(form, 'submit');
    });
    }
</script>

<script>
  const form = document.querySelector('form')
  const checkBoxes = document.querySelectorAll(".form-check-input");
  form.addEventListener('change', () => {
    form.submit();
  })
</script>




