<!-- <h1> TEST </h1> -->
<h1>hello</h1>
<% @campaigns.each do |campaign| %>
  <h2> le nom de la campagne est <%= campaign.name %></h2>
  <p> Elle commence le <%= I18n.l(campaign.starts_at, format: :long) %> et fini le <%= I18n.l(campaign.ends_at, format: :long) %></p>
  <p> Son objectif : <%= campaign.goal %></p>
  <p> Sa cible : <%= campaign.target %></p>
  <p> le message de la campagne : <%= campaign.message %></p>
  <p> les hashtags associés sont : <%= campaign.hashtag %></p>
<% end %>
