<div class="content-card-campaign">

  <div class="d-flex flex-row flex-wrap">
        <div class="padd2">
          <div class="card34"  style="cursor: pointer">
            <div class="d-flex" style="width: 600px;">

          <div class="card-campaign-list">
                <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_300,c_fill,ar_1:1,g_auto,r_max/v1582983051/campagne1_ti74ga.png", class: "image32"%>

                <div class="name2">BLUEGLASSES</div>
                <br>
                <div class="job2">Campagne en Cours</div>

                <div class="bar2">
                  <br>
                  <div class="emptybar2"></div>
                  <br>
                  <div class="filledbar2"></div>
                </div>
                <br>
                <br>
                <div class="engagement_rate2"></div>
                <br>

                <div class="d-flex">
                        <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955951/Influencers/Kristin_Boston_lju5ov.png", class: "head_logo1"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955952/Influencers/Luke_Butler_gglile.png", class: "head_logo2"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955946/Influencers/Charles_Mitchell_fe1n7s.png", class: "head_logo3"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955948/Influencers/Apolonio_Ruvalcaba_l4mvyr.png", class: "head_logo4"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955949/Influencers/Petrona_Ybarra_ssjpan.png", class: "head_logo5"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955947/Influencers/Sarah_Neely_kufvid.png", class: "head_logo6"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955950/Influencers/Henry_Morgan_i2jzpy.png", class: "head_logo7"%>
                  <div><p class="plus15">+ 3</p></div>
                </div>
              </div>
              <div class="d-flex">

                <div class="stats2">

                  <div class="box2" style="border-bottom: 1px solid white">
                    <span class="value2">16 017</span>
                    <span class="parameter2">Impressions</span>
                  </div>

                  <div class="box2" style="border-bottom: 1px solid white">
                    <span class="value2">1 472</span>
                    <span class="parameter2">Moyenne de Likes</span>
                  </div>

                  <div class="box2">
                    <span class="value2">913</span>
                    <span class="parameter2">Commentaires</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>

  <div class="d-flex flex-row flex-wrap">
        <div class="padd2">
          <div class="card34"  style="cursor: pointer">
            <div class="d-flex" style="width: 600px;">

          <div class="card-campaign-list">
                <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_300,c_fill,ar_1:1,g_auto,r_max/v1582983051/campagne2_cg64cr.png", class: "image32"%>

                <div class="name2">REDGLASSES</div>
                <br>
                <div class="job2">Campagne en cours</div>

                <div class="bar3">
                  <br>
                  <div class="emptybar3"></div>
                  <br>
                  <div class="filledbar3"></div>
                </div>
                <br>
                <br>
                <div class="engagement_rate2"></div>
                <br>

                <div class="d-flex">
                   <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379354/Influencers/Jean_Michel_y4usdq.png", class: "head_logo1"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582380515/Influencers/Veronica_Eliot_uufgbi.png", class: "head_logo2"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379353/Influencers/Rachel_Birk_qsjnuf.png", class: "head_logo3"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955947/Influencers/Blanche_Dubee_gydjrw.png", class: "head_logo4"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955947/Influencers/Corinne_Lemelin_ofyziw.png", class: "head_logo5"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955951/Influencers/Kristin_Boston_lju5ov.png", class: "head_logo6"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955952/Influencers/Luke_Butler_gglile.png", class: "head_logo7"%>
                  <div><p class="plus15">+ 5</p></div>
                </div>
              </div>
              <div class="d-flex">

                <div class="stats2">

                  <div class="box2" style="border-bottom: 1px solid white">
                    <span class="value2">0</span>
                    <span class="parameter2">Impressions</span>
                  </div>

                  <div class="box2" style="border-bottom: 1px solid white">
                    <span class="value2">0</span>
                    <span class="parameter2">Moyenne de Likes</span>
                  </div>

                  <div class="box2">
                    <span class="value2">0</span>
                    <span class="parameter2">Commentaires</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>
    </div>
</div>
