<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-campaign">
        <h1>Créer votre campagne d'influence en trois clics</h1>
        <h2> Renseigner votre brief créatif </h2>
        <%= simple_form_for(@campaign) do |f| %>
          <div class="row">
            <div class="col-xs-6" >
              <%= f.input :name, label: false, placeholder: 'Nom de votre campagne' %>
              <%= f.input :goal, label: false, collection: Campaign::STATUSES, prompt: "Quel est votre objectif principal ?" %>
              <%= f.input :starts_at, label: 'Date de début' %>
              <%= f.input :ends_at, label: 'Date de fin' %>
              <%= f.input :message, label: false, placeholder: 'Brief' %>
              <%= f.input :hashtag, label: false, placeholder: 'Hashtags associés' %>
            </div>
            </div>
             <%= f.submit "Sélectionner des influencers", class: "btn-ghost" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




