<!-- <h1> TEST </h1> -->


<div class="mx-auto mt-20 =" style="width: 500px;">
       <div class="progress-bar role nav ="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> ETAPE 1</div>
</div>

  <%= simple_form_for (@campaign) do |f| %>
          <%= f.input :name, label: 'Nom de votre campagne' %>
          <%= f.input :ends_at, label: 'Date de fin' %>


          <%= f.input :ends_at, label: 'Date de fin' %>


          <%= f.input :goal, label: 'Objectif' %>


           <%= f.input :message, label: 'Brief' %>


          <%= f.input :hashtag, label: 'Hashtags associés' %>

        <%= f.submit "sélection des influencers", class: "form-button" %>
    <% end %>


