<!-- <h1> TEST </h1> -->

<div class="container d-flex justify-content-center" >
  <%= simple_form_for (@campaign) do |f| %>
          <%= f.input :name, label: 'Nom de votre campagne' %>
          <%= f.input :ends_at, label: 'Date de fin' %>


          <%= f.input :ends_at, label: 'Date de fin' %>


          <%= f.input :goal, label: 'Objectif' %>


           <%= f.input :message, label: 'Brief' %>


          <%= f.input :hashtag, label: 'Hashtags associés' %>

        <%= f.submit "sélection des influencers", class: "form-button" %>
    <% end %>
</div>
