<!-- <h1> TEST </h1> -->

<%= form_for(@campaign) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :starts_at %>
  <%= f.text_field :starts_at %>
  <%= f.label :ends_at %>
  <%= f.text_field :ends_at %>
  <%= f.label :goal %>
  <%= f.text_field :goal %>
  <%= f.label :goal %>
  <%= f.text_field :target %>
  <%= f.label :message %>
  <%= f.text_field :message %>
  <%= f.label :hashtag %>
  <%= f.text_field :hashtag%>
  <%= f.submit %>
<% end %>

<%= render 'form', campaign: @campaign %>
