

<!-- <div class="mx-auto mt-20 =" style="width: 500px;">
       <div class="progress-bar role nav ="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"> ETAPE 1</div>
</div> -->

<div class="container">
  <div class="row">

      <div class="form-campaign">
        <h1>Créer votre campagne d'influence en trois clics
             <i class="fas fa-plus-circle fa-2x fa-fw"></i>
           </h1>
        <h2> Renseigner votre brief créatif </h2>

          <%= simple_form_for(@campaign) do |f| %>
                <%= f.input :name, label: false, placeholder: 'Nom de votre campagne' %>
                <div class= "goal-campaign">
                  <%= f.input :goal, label: "Quel est votre objectif principal ?", as: :radio_buttons, collection: Campaign::GOALS, wrapper: :vertical_collection_inline %>
                </div>
                <%= f.input :starts_at, label: 'Date de début' %>
                <%= f.input :ends_at, label: 'Date de fin' %>
                <div class="brief-campaign">
                  <%= f.input :message, label: false, placeholder: 'Brief' %>
                </div>
                <%= f.input :hashtag, label: "Quels sont les hashtags associés ?", as: :check_boxes, collection: Campaign::HASHTAGS, wrapper: :vertical_collection_inline %>

                <%= f.submit "Sélectionner des influencers", class: "btn-ghost" %>
            </div>
          <% end %>

      </div>

  </div>
