<div class="container-fluid" style="padding: 0">
  <div class="h-5 bg-white">
    <div class="col-xs-12">
      <div class="flexf">


        <div class="image-form3 col-6">
           <%=image_tag "kayak.png"%>
         </div>

          <div class="bg-container col-6 flex-sb-m">
             <br>
             <br>
              <div class="form-campaign">
                <h1>Créer votre campagne d'influence en trois clics</h1>
                <h2> Étape 1 : Renseigner votre brief </h2>

                <div class="form-campaign ">
                <%= simple_form_for(@campaign) do |f| %>
                <%= f.input :name, label: false, placeholder: 'Nom de votre campagne' %>

                <div class= "goal-campaign">
                  <%= f.input :goal, label:"Quel est votre objectif principal ?", as: :radio_buttons, collection: Campaign::GOALS, wrapper: :vertical_collection_inline %>
                </div>
                <%= f.input :starts_at, label: 'Date de début' %>
                <%= f.input :ends_at, label: 'Date de fin' %>
                 <br>
                <div class="brief-campaign">
                  <%= f.input :message, label: false, placeholder: 'Brief' %>
                </div>
                <br>
                 <!-- <%= f.input :hashtag, label: "Quels sont les hashtags associés ?", as: :check_boxes, collection: Campaign::HASHTAGS, wrapper: :vertical_collection_inline %> -->

                <%= f.submit "Sélectionner des influencers", class: "btn-ghost4" %>

                 <br>
                 <br>
                 </div>
                  <% end %>
             </div>
        </div>
      </div>
    </div>
  </div>
</div>
