
<div class="container3 mt-6">
    <h1> Nom de la campagne : <strong> <%= @campaign.name %> </strong> </h1>
    <h2> Descriptif : <%= @campaign.message %> </h2>
    <h2> Hashtags associés <%= @campaign.hashtag %> </h2>
    <p> *** </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div id="campaigns">
        <% @influencers.each do |influencer| %>
          <h4><%= influencer.name %></h4>
          <p><%= influencer.community_location %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
<h2> Le bilan brut de la campagne est le suivant :</h2>
 <p> Nombre de personne engagées : <%= @nbr_engagement %></p>
  <p> le nombre total de posts est (calcul à vérifier) : <%= @nbr_post %></p>
  <p> le nombre total d'impression est : <%= @nbr_impression %></p>
  <p> le nombre total de likes est : <%= @nbr_like %></p>
  <p> le nombre total de commentaires est : <%= @nbr_comment %></p>

  <h2> Le bilan par influencer de la campagne est le suivant </h2>
  <p> le nombre d'impression est : <%= @impression_by_influencer %></p>
  <p> le nombre de likes est : <%= @like_by_influencer %></p>
  <p> le nombre de commentaires est : <%= @comment_by_influencer %></p>
</div>


