<header>
  <br>
  <div class="flash flash-success alert alert-dismissible fade alert-campaign" role="alert">
    <span ><strong>Parfait!</strong> 🎉 Un mail a été envoyé à tous les influenceurs ! &nbsp;</span>
    <br>
    <a data-dismiss="alert" aria-label="Close"><i class="fas fa-times"></i></a>
  </div>
  <br>

    <hshow>VOS PROJECTIONS POUR LA CAMPAGNE</hshow>
    <br>

    <div class="align-elements-campaigns">
      <div class="">
        <%=image_tag "date.png", class: "iconb"%>
        <h3>Date</h3>
        <p>Du <%= @campaign.starts_at %> au <%= @campaign.ends_at %></p>
      </div>

      <div class="">
        <%=image_tag "objectif.png", class: "iconb"%>
        <h3>Objectif</h3>
        <p><%= @campaign.goal%></p>
      </div>

      <div class="">
        <%=image_tag "brief.png", class: "iconb"%>
        <h3>Brief</h3>
        <p><%= @campaign.message %></p>
      </div>
    </div>
</header>


<div>
  <div class="container4">

    <div class="one">
      <fn> <txtbil0><%=@campaign.influencers.count %></txtbil0> </fn>
      <txtbil>INFLUENCEURS</txtbil>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379354/Influencers/Jean_Michel_y4usdq.png", class: "head_logo1"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582380515/Influencers/Veronica_Eliot_uufgbi.png", class: "head_logo2"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582379353/Influencers/Rachel_Birk_qsjnuf.png", class: "head_logo3"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955947/Influencers/Blanche_Dubee_gydjrw.png", class: "head_logo4"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955947/Influencers/Corinne_Lemelin_ofyziw.png", class: "head_logo5"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955951/Influencers/Kristin_Boston_lju5ov.png", class: "head_logo1"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955952/Influencers/Luke_Butler_gglile.png", class: "head_logo2"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955946/Influencers/Charles_Mitchell_fe1n7s.png", class: "head_logo3"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955948/Influencers/Apolonio_Ruvalcaba_l4mvyr.png", class: "head_logo4"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto/v1582955949/Influencers/Petrona_Ybarra_ssjpan.png", class: "head_logo5"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955947/Influencers/Sarah_Neely_kufvid.png", class: "head_logo1"%>
      <%=image_tag "https://res.cloudinary.com/ddciebk6s/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1582955950/Influencers/Henry_Morgan_i2jzpy.png", class: "head_logo2"%>
    </div>

    <div class="two">
      <br><txtbil3>Pays Ciblé(s) :</txttbil3><br/>
        <br>
        <br>
      <br><txtbil4>- FRANCE 🇫🇷<txtbil4><br/>
    </div>

    <div class="three">
      <br><txtbil2> Prévisions de campagne par post :</txttbil2><br/>
      <br><txtbil5>- 18 000 impressions</txttbil5><br/>
        <br>
      <br><txtbil5>- 1500 like</txttbil5><br/>
        <br>
      <br><txtbil5>- 300 reposts</txttbil5><br/>
        <br>
      <br><txtbil5>- 250 commentaires</txttbil5><br/>
        <br>
      <br>
    </div>

  </div> <!-- end of container4 -->

  <container class="d-flex">
    <span class="btn-ghost8">CONFIMER LA CAMPAGNE</span>
  </container>


  <br>
  <br>
  <br>

 <!--  <div class="div">
    cl_image_tag
  </div>
</div>  -->




<!-- <div class= "m-5 foo">
<h2> Le bilan brut de la campagne est le suivant :</h2>
 <p> Nombre de personne engagées : <%= @nbr_engagement %></p>
  <p> le nombre total de posts est (calcul à vérifier) : <%= @nbr_post %></p>
  <p> le nombre total d'impression est : <%= @nbr_impression %></p>
  <p> le nombre total de likes est : <%= @nbr_like %></p>
  <p> le nombre total de commentaires est : <%= @nbr_comment %></p>

  <h2> Le bilan par influencer de la campagne est le suivant </h2>
  <p> le nombre d'impression est : <%= @impression_by_influencer %></p>
  <p> le nombre de likes est : <%= @like_by_influencer %></p>
  <p> le nombre de commentaires est : <%= @comment_by_influencer %></p>
</div>
 -->
<link rel="stylesheet" href="https://github.com/downloads/lafeber/world-flags-sprite/flags16.css" />

<figure class="highcharts-figure">
  <div id="container1"></div>
</figure>

<figure class="highcharts-figure">
    <div id="container2"></div>
</figure>

<%= @hashtag %>

<script>
  const alert = document.querySelector('.flash.flash-success.alert')
  const button = document.querySelector('.btn-ghost8')

  button.addEventListener('click', () => {
    window.scrollTo(0, 0);
    alert.classList.add('show');
  });

// console.log('<%=@campaign.metrics.pluck(:hashtag)%>')
// Highcharts.chart('container1', {
//     colors: ['#FFD700', '#C0C0C0', '#CD7F32'],
//     chart: {
//         type: 'column',
//         inverted: true,
//         polar: true
//     },
//     title: {
//         text: 'Impression par influenceur'
//     },
//     tooltip: {
//         outside: true
//     },
//     pane: {
//         size: '85%',
//         innerSize: '20%',
//         endAngle: 270
//     },
//     xAxis: {
//         tickInterval: 1,
//         labels: {
//             align: 'right',
//             useHTML: true,
//             allowOverlap: true,
//             step: 1,
//             y: 3,
//             style: {
//                 fontSize: '13px'
//             }
//         },
//         lineWidth: 0,
//         categories: [
//             <%# @impression_by_influencer.keys.each do |key| %>
//             '<%#=key%>',
//             <%# end %>
//         ]
//     },
//     yAxis: {
//         crosshair: {
//             enabled: true,
//             color: '#333'
//         },
//         lineWidth: 0,
//         tickInterval: 25,
//         reversedStacks: false,
//         endOnTick: true,
//         showLastLabel: true
//     },
//     plotOptions: {
//         column: {
//             stacking: 'normal',
//             borderWidth: 0,
//             pointPadding: 0,
//             groupPadding: 0.15
//         }
//     },
//     series: [{
//         name: 'Impression',
//         data:
//           <%=@impression_by_influencer.values%>


//     }, {
//         name: 'Audience',
//         data: [10000, 15000, 20000]
//     }]
// });


  // var text = '<%=@hashtag %>';
  // var lines = text.split(/[,\. ]+/g),
  //     data = Highcharts.reduce(lines, function (arr, word) {
  //         var obj = Highcharts.find(arr, function (obj) {
  //             return obj.name === word;
  //         });
  //         if (obj) {
  //             obj.weight += 1;
  //         } else {
  //             obj = {
  //                 name: word,
  //                 weight: 1
  //             };
  //             arr.push(obj);
  //         }
  //         return arr;
  //     }, []);

  // Highcharts.chart('container2', {
  //     accessibility: {
  //         screenReaderSection: {
  //             beforeChartFormat: '<h5>{chartTitle}</h5>' +
  //                 '<div>{chartSubtitle}</div>' +
  //                 '<div>{chartLongdesc}</div>' +
  //                 '<div>{viewTableButton}</div>'
  //         }
  //     },
  //     series: [{
  //         type: 'wordcloud',
  //         data: data,
  //         name: 'Occurrences'
  //     }],
  //     title: {
  //         text: 'Hastags'
  //     }
  // });
</script>



