<header>
  <div class="overlay list-group">

    <div class= "list-group hname">
      <hname> Campagne #<%= @campaign.name %> </hname>
    </div>

    <div class= "list-group hshow">
      <hshow> Du <%= @campaign.starts_at %> au <%= @campaign.ends_at %></hshow>
      <hshow> Objectif : <%= @campaign.goal%></hshow>
      <hshow> Brief : <%= @campaign.message %></hshow>
      <hshow> Hashtags associés <%= @campaign.hashtag %></hshow>
      <br>
      </div>
    </div>

</header>


<container>
   <div class="whitecard container showc">
      <div class="row">
            <div class="col-sm list-group">
            <fatnombre> <%=@campaign.influencers.count %> </fatnombre>
          <txtbil>influenceurs</txttbil>
        </div>

    <div class="col-sm list-group">
       <hshow> <%= @community_location %> </hshow>
      <hshow> <%= @mens_rate %> </hshow>
      <hshow> <%= @community_size %> </hshow>
    </div>
</container>
