


<header>
<br>
  <br>
    <hshow>VOS PROJECTIONS POUR LA CAMPAGNE</hshow>
    <br>
  <div class="flexshow ">
    <div>
        <span class="icon"></span>
        <%=image_tag "date.png", class: "iconb"%>
          <h3>Date</h3>
        <p>Du <%= @campaign.starts_at %> au <%= @campaign.ends_at %></p>
    </div>
<div>
  <span class="icon"></span>
    <%=image_tag "objectif.png", class: "iconb"%>
    <h3>Objectif</h3>
      <p><%= @campaign.goal%></p>

</div>
  <div>
    <span class="icon"></span>
    <%=image_tag "brief.png", class: "iconb"%>
      <h3>Brief</h3>
      <p><%= @campaign.message %></p>
  </div>
</header>

<container>

<div>
  <div class="container4 m-5">
    <div class="one">
      <fn> <%=@campaign.influencers.count %> </fn>
      <txtbil>INFLUENCEURS</txtbil>
    </div>
    <div class="two">
      <txtbil><%= @community_age %></txtbil><br/>
      <br>
      <br>
      <txtbil2> Pays Ciblé : France </txtbil2><br/>
        <br><txtbil> <%= @community_location %> </txtbil> <br/>
    </div>
      <br>
      <br>
      <div class="one ">
      <br>
      <br>
    <txtbil> PRÉVISIONS </txttbil>
    </div>
    <div class="two">
      <br><txtbil2><%= @nbr_impression %> impressions</txttbil2><br/>
      <br><txtbil2> 30 000 engagements</txttbil2><br/>
      <br><txtbil2><%= @nbr_like %> Likes</txttbil2><br/>
      <br>
    </div>
  </div>
<a href="" class="btn btn-primary ml-9">CONFIMER LA CAMPAGNE</a>
<br>
</div>
</div>
</container>



<div class= "m-5 foo">
<h2> Le bilan brut de la campagne est le suivant :</h2>
 <p> Nombre de personne engagées : <%= @nbr_engagement %></p>
  <p> le nombre total de posts est (calcul à vérifier) : <%= @nbr_post %></p>
  <p> le nombre total d'impression est : <%= @nbr_impression %></p>
  <p> le nombre total de likes est : <%= @nbr_like %></p>
  <p> le nombre total de commentaires est : <%= @nbr_comment %></p>

  <h2> Le bilan par influencer de la campagne est le suivant </h2>
  <p> le nombre d'impression est : <%= @impression_by_influencer %></p>
  <p> le nombre de likes est : <%= @like_by_influencer %></p>
  <p> le nombre de commentaires est : <%= @comment_by_influencer %></p>
</div>

<link rel="stylesheet" href="https://github.com/downloads/lafeber/world-flags-sprite/flags16.css" />

<figure class="highcharts-figure">
  <div id="container1"></div>
</figure>
<figure class="highcharts-figure">
    <div id="container2"></div>

</figure>

<%= @hashtag %>
<script>
console.log('<%=@campaign.metrics.pluck(:hashtag)%>')
Highcharts.chart('container1', {
    colors: ['#FFD700', '#C0C0C0', '#CD7F32'],
    chart: {
        type: 'column',
        inverted: true,
        polar: true
    },
    title: {
        text: 'Impression par influenceur'
    },
    tooltip: {
        outside: true
    },
    pane: {
        size: '85%',
        innerSize: '20%',
        endAngle: 270
    },
    xAxis: {
        tickInterval: 1,
        labels: {
            align: 'right',
            useHTML: true,
            allowOverlap: true,
            step: 1,
            y: 3,
            style: {
                fontSize: '13px'
            }
        },
        lineWidth: 0,
        categories: [
            <% @impression_by_influencer.keys.each do |key| %>
            '<%=key%>',
            <% end %>
        ]
    },
    yAxis: {
        crosshair: {
            enabled: true,
            color: '#333'
        },
        lineWidth: 0,
        tickInterval: 25,
        reversedStacks: false,
        endOnTick: true,
        showLastLabel: true
    },
    plotOptions: {
        column: {
            stacking: 'normal',
            borderWidth: 0,
            pointPadding: 0,
            groupPadding: 0.15
        }
    },
    series: [{
        name: 'Impression',
        data:
          <%=@impression_by_influencer.values%>


    }, {
        name: 'Audience',
        data: [10000, 15000, 20000]
    }]
});


var text = '<%=@hashtag %>';
var lines = text.split(/[,\. ]+/g),
    data = Highcharts.reduce(lines, function (arr, word) {
        var obj = Highcharts.find(arr, function (obj) {
            return obj.name === word;
        });
        if (obj) {
            obj.weight += 1;
        } else {
            obj = {
                name: word,
                weight: 1
            };
            arr.push(obj);
        }
        return arr;
    }, []);

Highcharts.chart('container2', {
    accessibility: {
        screenReaderSection: {
            beforeChartFormat: '<h5>{chartTitle}</h5>' +
                '<div>{chartSubtitle}</div>' +
                '<div>{chartLongdesc}</div>' +
                '<div>{viewTableButton}</div>'
        }
    },
    series: [{
        type: 'wordcloud',
        data: data,
        name: 'Occurrences'
    }],
    title: {
        text: 'Hastags'
    }
});
</script>



