<header>
  <div class="overlay list-group">

    <div class= "list-group hname">
      <hname> Campagne #<%= @campaign.name %> </hname>
    </div>

    <div class= "list-group hshow">
      <hshow> Du <%= @campaign.starts_at %> au <%= @campaign.ends_at %></hshow>
      <hshow> Objectif : <%= @campaign.goal%></hshow>
      <hshow> Brief : <%= @campaign.message %></hshow>
      <hshow> Hashtags associés <%= @campaign.hashtag %></hshow>
      <br>
      </div>
    </div>
</header>

</container>

<div>
  <div class="container4 m-5">
    <div class="one">
      <fatnombre> <%=@campaign.influencers.count %> </fatnombre>
      <txtbil>INFLUENCEURS</txttbil>
    </div>
    <div class="two">
      <br><txtbil> 25 - 35 ans  </txtbil><br/>
      <br><txtbil> Espagne </txtbil><br/>
      <br><txtbil> <%= @community_location %> </txtbil><br/>
    </div>
    <div class="three">
      <txtbil>PRÉVISIONS</txttbil>
    </div>
    <div class="four">
      <br><txtbil> 1 million de vues</txttbil><br/>
      <br><txtbil> 30 000 engagements</txttbil><br/>
    </div>
  </div>
</div>



